
.tituloRegistrarse{
    margin: 30px auto;
    text-align: center;
}

.bodyRegistrarse {
    height: 100vh;
    background: linear-gradient(to right top, #24242473, #24242473), url(../assets/img/bg-register.jpg);
    background-size: cover;
    background-position: center;
}
body {
    background-color: #181419;
    color: white;
    padding: 20px;
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.headerRegistrarse {
    color: #ffffff;
    height: 8vh;
    padding: 30px;
}

header {
    display: block;
    unicode-bidi: isolate;
}
.seccionRegistrarse{
    background-color: #181419;
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 1.2rem;
    margin: 0px auto;
    border-radius: 5px;
}

.bodyRegistrarse {
    & .main {
        & .seccionRegistrarse {
            & form {
                & input:not(.check, .boton), & select {
                    width: 100%;
                    margin-bottom: 10px;
                    height: 40px;
                    font-size: 1.2rem;
                    background-color: rgb(51, 51, 51);
                    color: rgb(255, 255, 255);
                    padding: 0px 20px;
                    border-radius: 20px;
                    border-width: 2px;
                    border-style: solid;
                    border-color: rgb(159, 54, 71);
                    border-image: initial;
                    outline: none;
                }
            }
        }
    }
}

.terminos {
    
    width: 80%;
    font-size: 0.7rem;
    margin: 30px auto;
    text-align: center;
}

.boton {
    box-sizing: content-box;
    background-color: #9f3647;
    border: 2px solid #9f3647;
    color: #ffffff;
    padding: 1rem 6rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
}